.grid-items{
	display:flex;
	flex-wrap:wrap;
	width:80%;
	margin:20vw auto 0;
	article.item{
		&:nth-child(odd){
			margin:-20vw 0 0;
		}
	}
}
article.item{
		width:50%;
		height:40vw;

		position:relative;
		display:flex;
		align-items:center;
		justify-content:center;
		/**/
		margin:0 0 0;
		header{
			display:flex;
			align-items:center;
			width:80%;
			height:100%;
			//background:rgba(255,0,0,0.2);
			z-index:100;
			position:absolute;
			h2{
				width:100%;
				text-align: center;
			}
		}
		&:after{
				content:"";
				display:block;
				position:absolute;
				top:50%;
				transform:translateY(-50%);
				width:30vw;
				height:30vw;
				border:solid 1px white;
				border-radius:50%;
			}
		.thumbnail{
			width:25vw;
			height:25vw;
			overflow:hidden;
			transform:rotate(45deg);
			background:$background;
			display:flex;
			align-items:center;
			justify-content:center;
			position:relative;
			
			img{
				opacity:.7;
				position:absolute;
				transform:rotate(-45deg);
				width:150%;
				height:auto;
			}
		}
	}